<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802154487664-s73manh7382pincbf048lc95a4jmau4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802154487664-s73manh7382pincbf048lc95a4jmau4g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802154487664-hi7jkkfl0jmomli3nf8npcm0qsdnd2tp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZN-PXqijqj-3rT57O97R42CvP-QC3hwg</string>
	<key>GCM_SENDER_ID</key>
	<string>802154487664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.moneyapp</string>
	<key>PROJECT_ID</key>
	<string>mymoneyapp-5098a</string>
	<key>STORAGE_BUCKET</key>
	<string>mymoneyapp-5098a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802154487664:ios:50d914e609493f0afeb9b5</string>
</dict>
</plist>